.cajaindex{
   background-image: url(../../assets/images/marcos.jpg);
   background-size: cover;
   width: 80%;
   min-height: 30rem;
   height: 60%;
   margin: auto;
   text-align: center;
   
}




button {
   float:unset;
   max-width: 800px;
   width: 100%;
   max-height: 300px;
   height: 100%;
   text-align: center;
   font-weight: bolder;

  
}

#botones{
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
	padding-bottom: 90px;
   width: 800px;
   height: 300px;
}

.boton1 {
   margin-top: 20px;
   margin-right: 20px;
   background-color: #ECE9CB;
   border: 1px solid #DD5D26;
   box-shadow: 1px 1px 4px black;
   font-size: 3em;
}
.boton1 a {
   color: #000000;
   text-decoration: none;
}
.boton1:hover{
   color: #FFFFFF;
   background-color: #EF7F3F;
   text-decoration: none;
   border-radius: 5px;
   width: 900px;
   height: 400px;
   border: 1px solid black;
}

.boton2 {
   margin-top: 20px;
   margin-right: 20px;
   background: #EF7F3F;
   color: #FFFFFF;
   border: 1px solid black;
   box-shadow: 1px 1px 4px black;
   font-size: 3em;
}
.boton2 a {
   color: #FFFFFF;
   text-decoration: none;
}
.boton2:hover {
   color: #000000;
   background-color: #ECE9CB;
   text-decoration: none;
   border-radius: 5px;
   width: 900px;
   height: 400px;
   border: 1px solid #DD5D26;
}

.Birrete{
	width: 100px;
	padding: 0;
}
.Birrete img{
   max-width: 100px;
   width: 100%;
}

.logo1{
	width: 300px;
	padding: 0;
   margin-top: 200px;
}
.logo1 img{
   max-width: 300px;
   width: 100%;
}


@media (max-width: 425px) {
   .cajaindex  {
      margin-left: 20px;
   }
 }
