
.Container_Admin{
    background-image: url(../../../Utils/Img/Formularios/fondo1.png);
    width: 100%;
    height: 100vh;
    margin: none;
    align-items: center;
    justify-content: center;
    display: flex;

}
.Box{
    background-color: rgb(248, 248, 248);
    width: 40%;
    height: 600px ;
   align-items: center;
   justify-content: center;

}
#enviar, #borrar{
    background-color: #E86433;
    color: white;
    border-radius: 15%;
    width: 20%;
    height: 35px;
    margin-left: 3%;
    border: none;
    margin-top: 20px;
}
h1{
    padding-top: 4%;
}
p, h1{
    display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 10px;
   color: black;
}
input, select {
    width: 80%;
    line-height : 30px;
    background-color: #c4c4c4;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 10px;
    /*border: 1px solid black*/
}
#text{ /*Pregunta de covid*/
    font-size: 16px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
}
#yes, #no{
    width: 10%;
    margin-top: 0px;
}
::placeholder{
    color: black;
}